.button_v1 {
    background-color: #081158 !important;
    border-radius: 8px;
    color: white !important;
    /* max-width: fit-content !important; */
    transition: 0.5s ease-in !important;
}

.white {
    background-color: white !important;
}


.arrow_change {
    padding: 0px 20px !important;
}


.button_v1>span>* {
    color: white !important;
}

.button_v1>span>img {
    padding: 10px 25px;
}

.f-f-sato {
    font-family: Sato, sans-serif !important;
}

.button_v1:hover {
    transition: 0.5s ease-in;
    background-color: #2c3cb1 !important;
    /* width: max-content !important; */
}

.button_v1:hover>span>.arrow_change {
    padding: 0px 26px 0px 30px !important;
    transition: all 0.3s ease-in-out;
}